<% javascript 'foreman_datacenter/device_interface_connections' %>
<% javascript 'foreman_datacenter/shared' %>

<% title "Connect '#{@power_outlet.device.name}' - '#{@power_outlet.name}'" %>

<%= form_for :power_port, url: connect_power_outlet_path(@power_outlet),
             method: :patch do |f| %>
    <%= rack_device_select @power_outlet.device.site,
                           url: for_device_power_ports_path,
                           target: '#power-ports-container',
                           fragment: '#power-ports' %>

    <div id="power-ports-container">
      <%= power_ports_list_for_device f %>
    </div>

    <%= selectable_f f, :connection_status,
                     ForemanDatacenter::PowerPort.connection_statuses.keys, {},
                     { :label => _("Status") } %>

    <%= submit_or_cancel f, false, cancel_path: device_path(@power_outlet.device) %>
<% end %>
