<%= form_for @console_port, as: :console_port, url: (@console_port.new_record? ? device_console_ports_path : console_port_path(@console_port)) do |f| %>
    <%= base_errors_for @console_port %>

    <div class="clearfix">
      <div class="form-group">
        <label class="col-md-2 control-label required">Device</label>
        <div class="col-md-4"><%= @console_port.device.name %></div>
      </div>
    </div>

    <%= f.hidden_field :device_id %>
    <%= text_f f, :name, required: true %>

    <%= submit_or_cancel f, false, cancel_path: device_path(@console_port.device) %>
<% end %>
