<% title _("Console connections") %>
<% title_actions help_button %>

<table class="<%= table_css_classes 'table-fixed' %>">
  <thead>
    <tr>
      <th><%= _("Console server") %></th>
      <th><%= _("Port") %></th>
      <th><%= _("Device") %></th>
      <th><%= _("Console port") %></th>
    </tr>
  </thead>
  <tbody>
    <% for port in @console_ports %>
      <tr>
        <td>
          <%= link_to port.console_server_port.device.name,
                      device_path(port.console_server_port.device) %>
        </td>
        <td><%= h port.console_server_port.name %></td>
        <td><%= link_to port.device.name, device_path(port.device) %></td>
        <td><%= h port.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate_with_info @console_ports %>
