<% title _("Console connections") %>
<% title_actions help_button %>

<table class="<%= table_css_classes 'table-fixed' %>">
  <thead>
    <tr>
      <th><%= _("Console server") %></th>
      <th><%= _("Port") %></th>
      <th><%= _("Device") %></th>
      <th><%= _("Console port") %></th>
    </tr>
  </thead>
  <tbody>
    <% for port in @console_ports %>
      <tr>
        <td>
          <% if port.console_server_port %>
            <%= link_to port.console_server_port.device.name,
                        device_path(port.console_server_port.device) %>
          <% else %>
            <%= muted_text("Device not found", "span") %>
          <% end %>
        </td>
        <td>
          <% if port.console_server_port %>
            <%= h port.console_server_port.name %>
          <% else %>
            <%= muted_text("Port not found", "span") %>
          <% end %>
        </td>
        <td>
          <% if port.device %>
            <%= link_to port.device.name, device_path(port.device) %>
          <% else %>
            <%= muted_text("Device not found", "span") %>
          <% end %>
        </td>
        <td>
          <% if port %>
            <%= h port.name %>
          <% else %>
            <%= muted_text("Port not found", "span") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate_with_info @console_ports %>
