<% title h(@rack_group.name) %>

<% title_actions display_link_if_authorized(
                   _('Edit'),
                   hash_for_edit_rack_group_path(id: @rack_group),
                   :class => 'btn btn-warning'
                 ),
                 display_delete_if_authorized(
                   hash_for_rack_group_path(id: @rack_group),
                   :data => { :confirm => 'Are you sure?' },
                   :action => :destroy,
                   :class => 'btn btn-danger'
                 )
                 help_path %>

<div class="col-md-6">
  <!-- Rack group details -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Rack Group</strong>
    </div>
    <table class="<%= table_css_classes 'table-hover panel-body' %>">
      <tbody>
      <tr>
        <td>Name</td>
        <td><%= h @rack_group.name %></td>
      </tr>
      <tr>
        <td>Site</td>
        <td><%= link_to @rack_group.site.name, site_path(@rack_group.site) %></td>
      </tr>
      <tr>
        <td>Created</td>
        <td><%= @rack_group.created_at.to_s(:long) %></td>
      </tr>
      <tr>
        <td>Last Updated</td>
        <td><%= @rack_group.updated_at.to_s(:long) %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-6">
  <!-- Stats -->
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Stats</strong></div>
    <table class="<%= table_css_classes 'table-hover panel-body' %>">
      <tr>
        <td>Racks</td>
        <td><%= @rack_group.racks.length %></td>
      </tr>
    </table>
  </div>
</div>
