<% stylesheet 'foreman_datacenter/datacenter' %>
<% stylesheet 'foreman_datacenter/modal' %>
<% javascript 'foreman_datacenter/modal' %>

<% title h(@rack_group.name) %>

<%= breadcrumbs(items: [{caption: _('Rack Groups'), url: rack_groups_path}, {caption: _(@rack_group.to_label)}]) %>

<% title_actions display_link_if_authorized(
                     _('Move associated objects'),
                     hash_for_move_rack_group_path(id: @rack_group),
                     class: 'btn btn-primary'
                 ),
                 display_link_if_authorized(
                   _('Edit'),
                   hash_for_edit_rack_group_path(id: @rack_group),
                   :class => 'btn btn-warning'
                 ),
                 display_fake_delete_if_authorized(
                     hash_for_rack_group_path(id: @rack_group),
                     class: 'btn btn-danger',
                     id: 'init-modal',
                     href: '#',
                     data: { objecttype: 'rack_group',
                             objectid: @rack_group.id,
                             objectname: @rack_group.to_label,
                             associatedobjects: associated_objects('rack_group') }
                 )
                 help_path %>

<div class="row">

  <div class="col-md-6">
    <!-- Rack group details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= _("Rack Group") %></strong>
      </div>
      <table class="<%= table_css_classes 'table-fixed nonmarginbottom' %>">
        <tbody>
        <tr>
          <td><%= _("Name") %></td>
          <td><%= h @rack_group.name %></td>
        </tr>
        <tr>
          <td><%= _("Site") %></td>
          <td>
            <%= @rack_group.site ? (link_to @rack_group.site.name, site_path(@rack_group.site)) : '-'%>
          </td>
        </tr>
        <tr>
          <td><%= _("Created") %></td>
          <td><%= @rack_group.created_at.to_s(:long) %></td>
        </tr>
        <tr>
          <td><%= _("Last Updated") %></td>
          <td><%= @rack_group.updated_at.to_s(:long) %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <!-- Stats -->
    <div class="panel panel-default">
      <div class="panel-heading"><strong><%= _("Stats") %></strong></div>
      <table class="<%= table_css_classes 'table-fixed nonmarginbottom' %>">
        <tr>
          <td><%= _("Racks") %></td>
          <td>
            <%= link_to @rack_group.racks_count, racks_path(search: "rack_group=#{@rack_group.name}") %>
            <%= link_to 'Overview', racks_rack_group_path(@rack_group), class: "btn btn-primary btn-xs pull-right" unless @rack_group.racks.empty? %>
          </td>
        </tr>
        <tr>
          <td><%= _("Devices") %></td>
          <td><%= link_to @rack_group.devices_count, devices_path(search: search_params(@rack_group.racks, 'name', 'rack')) %></td>
        </tr>
      </table>
    </div>

    <!-- Racks -->
    <div class="panel panel-default">
      <div class="panel-heading"><strong><%= _("Racks") %></strong></div>
      <table class="<%= table_css_classes 'table-fixed nonmarginbottom' %>">
        <tbody>
          <% if @rack_group.racks.empty? %>
            <%= muted_text("None", "tr", "td") %>
          <% else %>
            <% @rack_group.racks.to_a.sort_by!{ |r| r.name }.each do |rack| %>
              <tr>
                <td><%= link_to rack.name, rack_path(rack) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
