<% title _("Power connections") %>

<table class="<%= table_css_classes 'table-fixed' %>">
  <thead>
    <tr>
      <th><%= _("PDU") %></th>
      <th><%= _("Outlet") %></th>
      <th><%= _("Device") %></th>
      <th><%= _("Power port") %></th>
    </tr>
  </thead>
  <tbody>
    <% for port in @power_ports %>
      <tr>
        <td class="ellipsis">
          <%= link_to port.power_outlet.device.name,
                      device_path(port.power_outlet.device) %>
        </td>
        <td><%= h port.power_outlet.name %></td>
        <td><%= link_to port.device.name, device_path(port.device) %></td>
        <td><%= h port.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate_with_info @power_ports %>
