<% stylesheet 'foreman_datacenter/comments' %>

<% if action_name == "edit" %>

  <%= form_for @comment, url: "/datacenter/comments/#{@comment.id}" do |f| %>
    <%= base_errors_for @comment %>
    <%= textarea_f f, :content, rows: 10, required: true %>
    <%= submit_or_cancel(f, false, :cancel_path => commentable_path(@comment)) %>
  <% end %>

<% elsif action_name == "new" %>

  <%= form_for [@commentable, @comment], url: "/datacenter/#{@resource}/#{@commentable.id}/comments", html: {class: "form-horizontal well nonborder"}, method: :post do |f| %>
    <%= base_errors_for @comment %>
    <% if @parent %>
      <div class="clearfix">
        <div class="form-group">
          <label class="col-md-2 control-label" for="content"><%= _("Parent Comment") %></label>
          <div class="col-md-4">
            <textarea disabled rows="10" class="form-control"><%= @parent.content %></textarea>
          </div>
        </div>
      </div>
    <% end %>
    <%= f.hidden_field :parent_id, value: @parent.id %>
    <%= textarea_f f, :content, rows: 10, required: true %>
    <%= submit_or_cancel(f, false, :cancel_path => commentable_path(@parent)) %>
  <% end %>

<% else %>

  <%#= form_for [@commentable, @comment], url: "/datacenter/#{@resource}/#{@commentable.id}/comments", html: {class: "form-horizontal well nonborder", style: "border-top:1px !important; border-left:1px !important; border-right:1px !important"} do |f| %>
  <%= form_for [@commentable, @comment], url: "/datacenter/#{@resource}/#{@commentable.id}/comments", html: {class: "form-horizontal well nonborder"} do |f| %>
    <div class="clearfix">
      <div class="form-group">
        <div class="col-md-5">
          <%= f.text_area :content, rows: 8, class: "form-control" %>
        </div>
      </div>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary remove_form_templates" %>
  <% end %>

<% end %>
