<strong id="comment-<%= comment.id %>">
  <small class="text-left pull-left">
    <% if comment.user %>
      Posted by <%= "#{comment.try(:user).try(:firstname)} #{comment.try(:user).try(:lastname)}" %> at <%= comment.updated_at %>
  <% else %>
      Posted at <%= comment.updated_at %>
  <% end %>
</small>

<small class="text-right pull-right">
  <%= link_to "##{comment.id}", "#comment-#{comment.id}" %>
</small>
</strong>
<br/>
<div class="text-left pull-left">
  <%= comment.content %>
  <br/>
  <small>
    <%= link_to "Reply", new_comment_path(parent_id: comment.id, resource: commentable_data[:resource], resource_id: commentable_data[:id]) %>
    &nbsp;
    <%= link_to "Edit", "/datacenter/comments/#{comment.id}/edit" %>
    &nbsp;
    <%= link_to "Delete", "/datacenter/#{commentable_data[:resource]}/#{commentable_data[:id]}/comments/#{comment.id}", method: :delete, data: {confirm: "Are you sure?"} %>
  </small>
</div>
<br/>
<br/>

