<% stylesheet 'foreman_datacenter/comments' %>

<table class="<%= table_css_classes 'table-fixed nonmarginbottom' %>">
  <tbody>
    <% if comments == [] %>
      <%= muted_text("None", "tr", "td") %>
    <% else %>
      <% comments.roots.each do |c| %>
        <tr>
          <td>
            <ul class="none-list">
              <li>
                <%= render 'foreman_datacenter/comments/item', comment: c %>
              </li>
              <% if c.root.descendants != [] %>
                <%= render 'foreman_datacenter/comments/children', c: c.root.descendants.arrange %>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= render 'foreman_datacenter/comments/form'%>
