<% stylesheet 'foreman_datacenter/datacenter' %>

<% title h(@device_role.name) %>

<%= breadcrumbs(items: [{caption: _('Device Roles'), url: device_roles_path}, {caption: _(@device_role.to_label)}]) %>

<% title_actions display_link_if_authorized(
                   _('Edit'),
                   hash_for_edit_device_role_path(:id => @device_role),
                   :class => 'btn btn-warning'
                 ),
                 display_delete_if_authorized(
                   hash_for_device_role_path(:id => @device_role),
                   :data => { confirm: _("Delete %s?") % @device_role.name },
                   :action => :destroy,
                   :class => 'btn btn-danger'
                 )
   help_path %>

<div class="row">
  <div class="col-md-6">
    <!-- Rack group details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= _("Device role") %></strong>
      </div>
      <table class="<%= table_css_classes 'table-fixed nonmarginbottom' %>">
        <tbody>
        <tr>
          <td><%= _("Name") %></td>
          <td><%= h @device_role.name %></td>
        </tr>
        <tr>
          <td><%= _("Color") %></td>
          <td><%= @device_role.color %></td>
        </tr>
        <tr>
          <td><%= _("Created") %></td>
          <td><%= @device_role.created_at.to_s(:long) %></td>
        </tr>
        <tr>
          <td><%= _("Last Updated") %></td>
          <td><%= @device_role.updated_at.to_s(:long) %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <!-- Stats -->
    <div class="panel panel-default">
      <div class="panel-heading"><strong><%= _("Stats") %></strong></div>
      <table class="<%= table_css_classes 'table-fixed nonmarginbottom' %>">
        <tr>
          <td><%= _("Devices") %></td>
          <td><%= @device_role.devices.length %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
