<%= breadcrumbs(items: [{caption: _('Device Roles'), url: device_roles_path}, {caption: ""}]) %>

<% content_for(:title, _("Device Roles")) %>
<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <%= icon_text("tasks", "", :kind => "fa") %>
  </div>
  <h1><%= _('Device Roles') %></h1>
  <p><%= _("Each device object has a device role (e.g. server, switch, etc.).") %></p>
  <p><%= link_to _('Learn more about this in the documentation.'), documentation_url("")%></p>
  <div class="blank-slate-pf-main-action">
      <%= new_link(_('Create Device Role'), {}, { :class => "btn-lg" }) %>
  </div>
</div>

