<%= form_for @device_interface, as: :device_interface,
             url: (@device_interface.new_record? ? device_device_interfaces_path(@device_interface.device) : device_interface_path(@device_interface)) do |f| %>
    <%= base_errors_for @device_interface %>

    <div class="clearfix">
      <div class="form-group">
        <label class="col-md-2 control-label required">Device</label>
        <div class="col-md-4"><%= @device_interface.device.name %></div>
      </div>
    </div>
    <%= f.hidden_field :device_id %>

    <%= text_f f, :name, required: true %>
    <%= selectable_f f, :form_factor,
                     ForemanDatacenter::DeviceInterface::FORM_FACTORS %>
    <%= text_f f, :mac_address %>
    <%= checkbox_f f, :mgmt_only, label: 'OOB Management',
                   help_inline: 'This interface is used only for out-of-band management' %>
    <%= text_f f, :description %>

    <%= submit_or_cancel f, false, cancel_path: device_path(@device_interface.device) %>
<% end %>
