<% title _("Sites") %>
<%#  title_actions display_link_if_authorized(_("New Site"), hash_for_new_site_path, class: 'btn btn-success'), help_path %>
<% title_actions display_link_if_authorized(_("New Site"), hash_for_new_site_path, class: 'btn btn-success') %>

<table class="<%= table_css_classes 'table-two-pane' %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Facility</th>
      <th>ASN</th>
      <th>Racks</th>
      <th>Devices</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to(site.name, site_path(site)) %></td>
        <td><%= h site.facility %></td>
        <td><%= h site.asn %></td>
        <td><%= site.racks_count %></td>
        <td><%= site.devices_count %></td>
        <td>
          <%= action_buttons(
                  display_link_if_authorized(
                      _("Edit"),
                      hash_for_edit_site_path(:id => site).merge(:auth_object => site, :authorizer => authorizer)
                  ),
                  display_delete_if_authorized(
                      hash_for_site_path(:id => site).merge(:auth_object => site, :authorizer => authorizer),
                      :data => { :confirm => 'Are you sure?'},
                      :action => :destroy
                  )
              ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
