<% title _('Interface connections')  %>

<% title_actions help_button %>

<table class="<%= table_css_classes 'table-fixed' %>">
  <thead>
    <tr>
      <th><%= _("Device A") %></th>
      <th><%= _("Interface A") %></th>
      <th><%= _("Device B") %></th>
      <th><%= _("Interface B") %></th>
    </tr>
  </thead>
  <tbody>
    <% for connection in @device_interface_connections %>
      <tr>
        <td>
          <%= link_to connection.first_device.name,
                        device_path(connection.first_device) %>
        </td>
        <td><%= h connection.first_interface.name %></td>
        <td>
          <%= link_to connection.second_device.name,
                      device_path(connection.second_device) %>
        </td>
        <td><%= h connection.second_interface.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate_with_info @device_interface_connections %>
