<%= form_for @console_port_template, as: :console_port_template, url: (@console_port_template.new_record? ? device_type_console_port_templates_path : device_type_console_port_template_path(@console_port_template)) do |f| %>
    <%= base_errors_for @console_port_template %>

    <div class="clearfix">
      <div class="form-group">
        <label class="col-md-2 control-label required">Device Type</label>
        <div class="col-md-4">
          <input disabled class="form-control" value="<%= @console_port_template.device_type.model %>">
        </div>
      </div>
    </div>

    <%= f.hidden_field :device_type_id %>
    <%= text_f f, :name, required: true %>

    <%= submit_or_cancel f, false, cancel_path: device_type_path(@console_port_template.device_type) %>
<% end %>
