<% stylesheet 'foreman_datacenter/datacenter' %>

<% title h(@platform.name) %>

<%= breadcrumbs(items: [{caption: _('Platforms'), url: '/datacenter/platforms'}, {caption: _(@platform.to_label)}]) %>

<% title_actions display_link_if_authorized(
                   _('Edit'),
                   hash_for_edit_platform_path(:id => @platform),
                   :class => 'btn btn-warning'
                 ),
                 display_delete_if_authorized(
                   hash_for_platform_path(:id => @platform),
                   :data => { :confirm => 'Are you sure?'},
                   :action => :destroy,
                   :class => 'btn btn-danger'
                 )
   help_path %>

<div class="row-md-6">
  <div class="col-md-6">
    <!-- Rack group details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Platform</strong>
      </div>
      <table class="<%= table_css_classes 'table-fixed nonmarginbottom' %>">
        <tbody>
        <tr>
          <td>Name</td>
          <td><%= h @platform.name %></td>
        </tr>
        <tr>
          <td>RPC Client</td>
          <td><%= @platform.rpc_client %></td>
        </tr>
        <tr>
          <td>Created</td>
          <td><%= @platform.created_at.to_s(:long) %></td>
        </tr>
        <tr>
          <td>Last Updated</td>
          <td><%= @platform.updated_at.to_s(:long) %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <!-- Stats -->
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Stats</strong></div>
      <table class="<%= table_css_classes 'table-fixed nonmarginbottom' %>">
        <tr>
          <td>Devices</td>
          <td><%= @platform.devices.length %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
