<%= form_for @device, as: :device, url: (@device.new_record? ? devices_path : device_path(@device)) do |f| %>
    <%= base_errors_for @device %>

    <!-- Device -->
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Device</strong></div>
      <div class="panel-body">
        <%= text_f f, :name, required: true %>
        <%= selectable_f f, :device_role_id,
                         device_roles_for_select(@device.device_role_id),
                         {include_blank: 'Choose a device role'},
                         {required: true} %>
      </div>
    </div>

    <!-- Hardware -->
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Hardware</strong></div>
      <div class="panel-body">
        <div class="clearfix">
          <div class="form-group">
            <label class="col-md-2 control-label required">Manufacturer *</label>
            <div class="col-md-4">
              <%= select_tag :manufacturer_id,
                             device_manufacturers_for_select(@device.manufacturer_id),
                             { :include_blank => 'Choose a manufacturer',
                               :onchange => 'devicesNewManufacturerSelected(this)',
                               :'data-url' => device_types_devices_path,
                               :class => 'form-control' } %>
            </div>
          </div>
        </div>
        <div id="device-types-container">
          <%= device_types_for_device_form f, @device.manufacturer_id, @device.device_type_id %>
        </div>
        <%= text_f f, :serial, help_inline: 'Chassis serial number' %>
      </div>
    </div>

    <!-- Location -->
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Location</strong></div>
      <div class="panel-body">
        <div class="clearfix">
          <div class="form-group">
            <label class="col-md-2 control-label required">Site *</label>
            <div class="col-md-4">
              <%= sites_for_device_form @device.site_id %>
            </div>
          </div>
        </div>
        <div id="sites-container">
          <%= racks_for_device_form f, @device.site_id, @device.rack_id %>
        </div>
        <%= selectable_f f, :face, ForemanDatacenter::Device.faces.keys,
                         { include_blank: 'Choose a rack face', label: 'Rack face' } %>
        <%= text_f f, :position, type: 'number', min: 0,
                   help_inline: 'For multi-U devices, this is the lowest occupied rack unit.' %>
      </div>
    </div>

    <!-- Management -->
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Management</strong></div>
      <div class="panel-body">
        <%= platforms_for_device_form f, @device.platform_id %>
        <%= selectable_f f, :status, ForemanDatacenter::Device.statuses.keys %>
      </div>
    </div>

    <!-- Comments -->
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Comments</strong></div>
      <div class="panel-body">
        <%= textarea_f f, :comments, rows: 10 %>
      </div>
    </div>

    <%= submit_or_cancel f %>
<% end %>
