<% javascript 'foreman_datacenter/ajax' %>
<% javascript 'foreman_datacenter/management_devices' %>
<% stylesheet 'foreman_datacenter/datacenter' %>
<% stylesheet 'foreman_datacenter/devices' %>
<% stylesheet 'foreman_datacenter/modal' %>
<% javascript 'foreman_datacenter/modal' %>

<% title h(@device.to_label) %>

<div class="row">
  <div class="col-md-offset-4 col-md-8 title_action">
    <div class="btn-toolbar pull-right">
      <%= link_to 'Edit', edit_device_path(@device), class: 'btn btn-warning' %>
      <%= display_fake_delete_if_authorized(
                       hash_for_device_path(id: @device),
                       class: 'btn btn-danger',
                       id: 'init-modal',
                       href: '#',
                       data: { objecttype: 'device',
                               objectid: @device.id,
                               objectname: @device.to_label,
                               associatedobjects: associated_objects('device') }
      ) %>
      <%= link_to 'Import from hosts',
                  @device.host ?
                    edit_device_path(@device, host_id: @device.host.id) :
                    import_to_device_path(target_device_id: @device.id),
                  class: 'btn btn-success' %>
      <%= link_to 'Download QR PDF file',
                  qr_code_device_path(@device),
                  class: 'btn btn-default' %>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><%= link_to 'Info', device_path(@device) %></li>
  <li><%= link_to 'Inventory', inventory_device_path(@device) %></li>
</ul>

<div class="row">
  <div class="col-md-6">
    <!-- Device -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= _("Device") %></strong>
      </div>
      <!-- table_css_classes removed purposely -->
      <table class="table table-hover panel-body nonmarginbottom">
        <tbody>
        <% if @device.host %>
          <tr>
            <td><%= _("Host") %></td>
            <td><%= link_to @device.name, host_path(@device.host) %></td>
          </tr>
        <% end %>
        <tr>
          <td><%= _("Site") %></td>
          <td>
            <%= @device.site ? (link_to @device.site.name, site_path(@device.site)) : "-" %>
          </td>
        </tr>
        <tr>
          <td><%= _("Rack") %></td>
          <td>
            <%= @device.rack ? (link_to @device.rack.name, rack_path(@device.rack)) : "-" %>
          </td>
        </tr>
        <tr>
          <td><%= _("Position") %></td>
          <td><%= @device.positions.join(", ") %> / <%= @device.face %> / <%= @device.side %></td>
        </tr>
        <tr>
          <td><%= _("Device Type") %></td>
          <td>
            <%= @device.device_type ? (link_to @device.device_type.model, device_type_path(@device.device_type)) : "-" %>
          </td>
        </tr>
        <tr>
          <td><%= _("Serial") %></td>
          <td>
            <%= @device.try(:serial) %>
          </td>
        </tr>
        <tr>
          <td><%= _("Created") %></td>
          <td><%= @device.created_at.to_s(:long) %></td>
        </tr>
        <tr>
          <td><%= _("Last Updated") %></td>
          <td><%= @device.updated_at.to_s(:long) %></td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Critical Connections -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= _("Critical Connections") %></strong>
      </div>
      <!-- table_css_classes removed purposely -->
      <table class="table table-hover panel-body">
        <tbody>
        <% if @device.management_interfaces.empty? %>
            <tr class="alert-warning">
              <td>
                <i class="fa fa-fw fa-warning"></i>
                <%= _('No management interfaces defined!') %>
              </td>
              <td></td>
              <td></td>
              <td class="text-right">
                <%= link_to new_management_device_device_interfaces_path(@device),
                            class: 'btn btn-primary btn-xs',
                            title: 'Add interface' do %>
                    <span class="glyphicon glyphicon-plus"></span>
                <% end %>
              </td>
            </tr>
        <% else %>
            <%= render partial: 'management_interface',
                       collection: @device.management_interfaces %>
        <% end %>
        <% if @device.console_ports.empty? %>
            <tr class="alert-warning">
              <td>
                <i class="fa fa-fw fa-warning"></i>
                <%= _('No console ports defined!') %>
              </td>
              <td></td>
              <td></td>
              <td class="text-right">
                <%= link_to new_device_console_port_path(@device),
                            class: 'btn btn-primary btn-xs',
                            title: 'Add console' do %>
                    <span class="glyphicon glyphicon-plus"></span>
                <% end %>
              </td>
            </tr>
        <% else %>
            <%= render partial: 'console_port', collection: @device.console_ports %>
        <% end %>
        <% if @device.power_ports.empty? %>
            <tr class="alert-warning">
              <td>
                <i class="fa fa-fw fa-warning"></i>
                <%= _('No power ports defined!') %>
              </td>
              <td></td>
              <td></td>
              <td class="text-right">
                <%= link_to new_device_power_port_path(@device),
                            class: 'btn btn-primary btn-xs',
                            title: 'Add power' do %>
                    <span class="glyphicon glyphicon-plus"></span>
                <% end %>
              </td>
            </tr>
        <% else %>
            <%= render partial: 'power_port', collection: @device.power_ports %>
        <% end %>
        </tbody>
      </table>
      <div class="panel-footer text-right" id="pagination">
        <%= link_to new_management_device_device_interfaces_path(@device),
                    class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span>
            Add interface
        <% end %>
        <%= link_to new_device_console_port_path(@device),
                    class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span>
            Add console
        <% end %>
        <%= link_to new_device_power_port_path(@device),
                    class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span>
            Add power
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <!-- Management -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= _("Management") %></strong>
      </div>
      <!-- table_css_classes removed purposely -->
      <table class="table table-hover panel-body nonmarginbottom">
        <tbody>
        <tr>
          <td><%= _("Role") %></td>
          <td>
            <% if @device.device_role %>
                <%= link_to @device.device_role.name, device_role_path(@device.device_role) %>
            <% else %>
                <%= muted_text("Not defined", "span") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= _("Platform") %></td>
          <td>
            <% if @device.platform %>
                <%= link_to @device.platform.name, platform_path(@device.platform) %>
            <% else %>
                <span class="text-warning">Not assigned</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= _("Status") %></td>
          <td>
            <% if @device.active? %>
                <span class="label label-success">Active</span>
            <% elsif @device.offline? %>
                <span class="label label-danger">Offline</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= _("Primary IPv4") %></td>
          <% if @device.ip_address.blank? %>
            <%= muted_text("Not defined", "td") %>
          <% else %>
            <td><%= @device.ip_address %></td>
          <% end %>
        </tr>
        <tr>
          <td><%= _("Primary IPv6") %></td>
          <% if @device.primary_ip6.blank? %>
            <%= muted_text("Not defined", "td") %>
          <% else %>
            <td><%= @device.primary_ip6 %></td>
          <% end %>
        </tr>
        <tr>
          <td><%= _("MAC address") %></td>
          <% if @device.mac_address.blank? %>
            <%= muted_text("Not defined", "td") %>
          <% else %>
            <td><%= @device.mac_address %></td>
          <% end %>
        </tr>

        <!-- Management device -->
        <tr>
          <td><strong><%= _("Management device") %></strong></td>
          <td></td>
        </tr>
        <% if @device.management_device %>
            <tr>
              <td><%= _("Console URL") %></td>
              <td>
                <%= link_to @device.console_url, "#{@device.console_url}", target: "_blank" %>
              </td>

            </tr>
            <tr>
              <td><%= _("Login") %></td>
              <td><%= h @device.login %></td>
            </tr>
            <tr>
              <td><%= _("Login") %></td>
              <td>
                <button class="btn btn-primary btn-xs" data-reveal-password data-password="<%= h @device.password %>">
                  <%= _("Reveal") %>
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="text-right">
                <%= link_to edit_management_device_path(@device.management_device),
                            class: 'btn btn-success btn-xs' do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit
                <% end %>
                <%= link_to management_device_path(@device.management_device),
                            class: 'btn btn-danger btn-xs',
                            data: { confirm: 'Are you sure?' }, method: :delete do %>
                    <i class="glyphicon glyphicon-trash"></i>
                    Destroy
                <% end %>
              </td>
            </tr>
        <% else %>
            <tr>
              <td class="text-muted">None</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-right">
                <%= link_to new_device_management_device_path(@device),
                            class: 'btn btn-primary btn-xs' do %>
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!-- Device Bays -->
    <% if @device.parent? %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= _("Device Bays") %></strong>
          </div>
          <!-- <table class="<%#= table_css_classes 'table-fixed nonmarginbottom' %>"> Hardcoded for a while --> 
          <table class="table table-hover panel-body nonmarginbottom">
            <tbody>
              <% if @device.device_bays.empty? %>
                <%= muted_text("None", "tr", "td") %>
              <% else %>
                <%= render partial: 'device_bay', collection: @device.device_bays %>
              <% end %>
            </tbody>
          </table>
          <div class="panel-footer text-right">
            <%= link_to 'Add a device bay', new_device_device_bay_path(@device),
                        class: 'btn btn-primary btn-xs' %>
          </div>
        </div>
    <% end %>

    <!-- Interfaces -->
    <% if @device.is_network_device %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= _('Interfaces') %></strong>
          </div>
          <%= form_tag destroy_interfaces_device_path(@device), method: :delete do %>
            <!-- table_css_classes removed purposely -->
            <table class="table table-hover panel-body nonmarginbottom">
              <tbody>
                <% if @device.non_management_interfaces.empty? %>
                  <%= muted_text("None", "tr", "td") %>
                <% else %>
                  <%= render partial: 'interface', collection: @device.non_management_interfaces %>
                <% end %>
              </tbody>
            </table>
            <div class="panel-footer text-right">
              <%= link_to 'Sync', sync_interfaces_with_host_device_path(@device),
                          class: 'btn btn-primary btn-xs' if @device.host %>
              <%= link_to 'Add an interface', new_device_device_interface_path(@device),
                          class: 'btn btn-primary btn-xs' %>
              <%= button_tag 'Destroy selected interfaces',
                             class: 'btn btn-danger btn-xs',
                             data: {confirm: 'Are you sure?'} unless @device.non_management_interfaces.empty? %>
            </div>
          <% end %>
        </div>
    <% end %>

    <!-- Console Server Ports -->
    <% if @device.is_console_server %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= _("Console Server Ports") %></strong>
          </div>
          <!-- <table class="<%#= table_css_classes 'table-fixed nonmarginbottom' %>"> Hardcoded for a while -->
          <table class="table table-hover panel-body nonmarginbottom">
            <tbody>
              <% if @device.console_server_ports.empty? %>
                 <%= muted_text("None", "tr", "td") %>
              <% else %>
                <%= render partial: 'console_server_port', collection: @device.console_server_ports %>
              <% end %>
            </tbody>
          </table>
          <div class="panel-footer text-right">
            <%= link_to 'Add a console server port', new_device_console_server_port_path(@device),
                        class: 'btn btn-primary btn-xs' %>
          </div>
        </div>
    <% end %>

    <!-- Power Outlets -->
    <% if @device.is_pdu %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= _("Power Outlets") %></strong>
          </div>
          <!-- <table class="<%#= table_css_classes 'table-fixed nonmarginbottom' %>"> Hardcoded for a while -->
          <table class="table table-hover panel-body nonmarginbottom">
            <tbody>
              <% if @device.power_outlets.empty? %>
                <%= muted_text("None", "tr", "td") %>
              <% else %>
                <%= render partial: 'power_outlet', collection: @device.power_outlets %>
              <% end %>
            </tbody>
          </table>
          <div class="panel-footer text-right">
            <%= link_to 'Add a power outlet', new_device_power_outlet_path(@device),
                        class: 'btn btn-primary btn-xs' %>
          </div>
        </div>
    <% end %>

    <!-- Comments -->
    <div class="panel panel-default">
      <div class="panel-heading"><strong><%= _('Comments') %></strong></div>
        <%= render 'foreman_datacenter/comments/list', comments: @comments %>
    </div>
  </div>
</div>
