<% title h(@device_type.model) %>

<% title_actions display_link_if_authorized(
                   _('Edit'),
                   hash_for_edit_device_type_path(:id => @device_type).merge(:auth_object => @device_type, :authorizer => authorizer),
                   :class => 'btn btn-warning'
                 ),
                 display_delete_if_authorized(
                   hash_for_device_type_path(:id => @device_type).merge(:auth_object => @device_type, :authorizer => authorizer),
                   :data => { :confirm => 'Are you sure?'},
                   :action => :destroy,
                   :class => 'btn btn-danger'
                 )
   help_path %>

<div class="col-md-6">
  <!-- Chassis -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Chassis</strong>
    </div>
    <table class="table table-hover panel-body">
      <tbody>
      <tr>
        <td>Manufacturer</td>
        <td><%= h @device_type.manufacturer.name %></td>
      </tr>
      <tr>
        <td>Model Name</td>
        <td><%= h @device_type.model %></td>
      </tr>
      <tr>
        <td>Height (U)</td>
        <td><%= @device_type.u_height %></td>
      </tr>
      <tr>
        <td>Full Depth</td>
        <td><%= @device_type.is_full_depth ? 'Yes' : 'No' %></td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Console ports -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to 'Add a console port', new_device_type_console_port_template_path(@device_type),
                  class: 'btn btn-primary btn-xs pull-right'%>
      <strong>Console ports</strong>
    </div>
    <% if @device_type.console_port_templates.empty? %>
        <div class="panel-body">None</div>
    <% else %>
        <table class="table table-hover panel-body">
          <tbody>
          <% @device_type.console_port_templates.each do |console_port| %>
              <tr>
                <td class="col-sm-10"><%= console_port.name %></td>
                <td class="col-sm-2">
                  <%= action_buttons(
                        display_delete_if_authorized(
                          hash_for_device_type_console_port_template_path(id: console_port, device_type_id: @device_type).merge(:auth_object => console_port, :authorizer => authorizer),
                          :data => { :confirm => 'Are you sure?'},
                          :action => :destroy
                        )
                      ) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>

<div class="col-md-6">
  <!-- Interfaces -->
  <% if @device_type.is_network_device %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to 'Add an interface', new_device_type_interface_template_path(@device_type),
                      class: 'btn btn-primary btn-xs pull-right'%>
          <strong>Interfaces</strong>
        </div>
        <% if @device_type.interface_templates.empty? %>
            <div class="panel-body">None</div>
        <% else %>
            <table class="table table-hover panel-body">
              <tbody>
              <% @device_type.interface_templates.each do |interface| %>
                  <tr>
                    <td class="col-sm-10"><%= interface.name %></td>
                    <td class="col-sm-2">
                      <%= action_buttons(
                            display_delete_if_authorized(
                              hash_for_device_type_interface_template_path(id: interface, device_type_id: @device_type).merge(:auth_object => interface, :authorizer => authorizer),
                              :data => { :confirm => 'Are you sure?'},
                              :action => :destroy
                            )
                          ) %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
      </div>
  <% end %>

  <!-- Stats -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong></strong>
    </div>
    <table class="table table-hover panel-body">
      <tbody>
      </tbody>
    </table>
  </div>
</div>
