<% title h(@device_type.model) %>

<% title_actions display_link_if_authorized(
                   _('Edit'),
                   hash_for_edit_device_type_path(:id => @device_type).merge(:auth_object => @device_type, :authorizer => authorizer),
                   :class => 'btn btn-warning'
                 ),
                 display_delete_if_authorized(
                   hash_for_device_type_path(:id => @device_type).merge(:auth_object => @device_type, :authorizer => authorizer),
                   :data => { :confirm => 'Are you sure?'},
                   :action => :destroy,
                   :class => 'btn btn-danger'
                 )
   help_path %>

<div class="col-md-6">
  <!-- Chassis -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Chassis</strong>
    </div>
    <table class="table table-hover panel-body">
      <tbody>
      <tr>
        <td>Manufacturer</td>
        <td><%= h @device_type.manufacturer.name %></td>
      </tr>
      <tr>
        <td>Model Name</td>
        <td><%= h @device_type.model %></td>
      </tr>
      <tr>
        <td>Height (U)</td>
        <td><%= @device_type.u_height %></td>
      </tr>
      <tr>
        <td>Full Depth</td>
        <td><%= @device_type.is_full_depth ? 'Yes' : 'No' %></td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Function -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Function</strong>
    </div>
    <table class="table table-hover panel-body">
      <tbody>
      <tr>
        <td class="col-sm-3 text-right">
          <% if @device_type.is_console_server %>
              <span class="glyphicon glyphicon-ok text-success"></span>
          <% else %>
              <span class="glyphicon glyphicon-remove text-danger"></span>
          <% end %>
        </td>
        <td class="col-sm-10">
          <strong>Console Server</strong>
          <br>
          <% if @device_type.is_console_server %>
              <small class="text-muted">This device has console server ports</small>
          <% else %>
              <small class="text-muted">This device does not have console server ports</small>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="col-sm-3 text-right">
          <% if @device_type.is_pdu %>
              <span class="glyphicon glyphicon-ok text-success"></span>
          <% else %>
              <span class="glyphicon glyphicon-remove text-danger"></span>
          <% end %>
        </td>
        <td class="col-sm-10">
          <strong>PDU</strong>
          <br>
          <% if @device_type.is_pdu %>
              <small class="text-muted">This device has power outlets</small>
          <% else %>
              <small class="text-muted">This device does not have power outlets</small>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="col-sm-3 text-right">
          <% if @device_type.is_network_device %>
              <span class="glyphicon glyphicon-ok text-success"></span>
          <% else %>
              <span class="glyphicon glyphicon-remove text-danger"></span>
          <% end %>
        </td>
        <td class="col-sm-10">
          <strong>Network Device</strong>
          <br>
          <% if @device_type.is_network_device %>
              <small class="text-muted">This device has non-management network interfaces</small>
          <% else %>
              <small class="text-muted">This device does not have non-management network interfaces</small>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="col-sm-3 text-right">
          <% if @device_type.parent? %>
              <label class="label label-info">Parent</label>
          <% elsif @device_type.child? %>
              <label class="label label-primary">Child</label>
          <% else %>
              <label class="label label-default">None</label>
          <% end %>
        </td>
        <td class="col-sm-10">
          <strong>Parent/Child</strong>
          <br>
          <% if @device_type.parent? %>
              <small class="text-muted">This device has device bays for mounting child devices</small>
          <% elsif @device_type.child? %>
              <small class="text-muted">This device can only be mounted in a parent device</small>
          <% else %>
              <small class="text-muted">This device does not have device bays</small>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Console ports -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to 'Add a console port', new_device_type_console_port_template_path(@device_type),
                  class: 'btn btn-primary btn-xs pull-right'%>
      <strong>Console ports</strong>
    </div>
    <% if @device_type.console_port_templates.empty? %>
        <div class="panel-body">None</div>
    <% else %>
        <table class="table table-hover panel-body">
          <tbody>
          <% @device_type.console_port_templates.each do |console_port| %>
              <tr>
                <td class="col-sm-10"><%= console_port.name %></td>
                <td class="col-sm-2">
                  <%= action_buttons(
                        display_delete_if_authorized(
                          hash_for_device_type_console_port_template_path(id: console_port, device_type_id: @device_type).merge(:auth_object => console_port, :authorizer => authorizer),
                          :data => { :confirm => 'Are you sure?'},
                          :action => :destroy
                        )
                      ) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>

  <!-- Power ports -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to 'Add a power port', new_device_type_power_port_template_path(@device_type),
                  class: 'btn btn-primary btn-xs pull-right' %>
      <strong>Power ports</strong>
    </div>
    <% if @device_type.power_port_templates.empty? %>
        <div class="panel-body">None</div>
    <% else %>
        <table class="table table-hover panel-body">
          <tbody>
          <% @device_type.power_port_templates.each do |power_port| %>
              <tr>
                <td class="col-sm-10"><%= power_port.name %></td>
                <td class="col-sm-2">
                  <%= action_buttons(
                        display_delete_if_authorized(
                          hash_for_device_type_power_port_template_path(id: power_port, device_type_id: @device_type).merge(:auth_object => power_port, :authorizer => authorizer),
                          :data => { :confirm => 'Are you sure?'},
                          :action => :destroy
                        )
                      ) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>

  <!-- Stats -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong></strong>
    </div>
    <table class="table table-hover panel-body">
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-6">
  <!-- Device Bays -->
  <% if @device_type.parent? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to 'Add a device bay', new_device_type_device_bay_template_path(@device_type),
                      class: 'btn btn-primary btn-xs pull-right'%>
          <strong>Device Bays</strong>
        </div>
        <% if @device_type.device_bay_templates.empty? %>
            <div class="panel-body">None</div>
        <% else %>
            <table class="table table-hover panel-body">
              <tbody>
              <% @device_type.device_bay_templates.each do |device_bay| %>
                  <tr>
                    <td class="col-sm-10"><%= device_bay.name %></td>
                    <td class="col-sm-10">
                      <%= action_buttons(
                            display_delete_if_authorized(
                              hash_for_device_type_device_bay_template_path(id: device_bay, device_type_id: @device_type).merge(:auth_object => device_bay, :authorizer => authorizer),
                              :data => { :confirm => 'Are you sure?'},
                              :action => :destroy
                            )
                          ) %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
      </div>
  <% end %>

  <!-- Interfaces -->
  <% if @device_type.is_network_device %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to 'Add an interface', new_device_type_interface_template_path(@device_type),
                      class: 'btn btn-primary btn-xs pull-right'%>
          <strong>Interfaces</strong>
        </div>
        <% if @device_type.interface_templates.empty? %>
            <div class="panel-body">None</div>
        <% else %>
            <table class="table table-hover panel-body">
              <tbody>
              <% @device_type.interface_templates.each do |interface| %>
                  <tr>
                    <td class="col-sm-10"><%= interface.name %></td>
                    <td class="col-sm-2">
                      <%= action_buttons(
                            display_delete_if_authorized(
                              hash_for_device_type_interface_template_path(id: interface, device_type_id: @device_type).merge(:auth_object => interface, :authorizer => authorizer),
                              :data => { :confirm => 'Are you sure?'},
                              :action => :destroy
                            )
                          ) %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
      </div>
  <% end %>

  <!-- Console server ports -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to 'Add a console server port', new_device_type_console_server_port_template_path(@device_type),
                  class: 'btn btn-primary btn-xs pull-right'%>
      <strong>Console Server Ports</strong>
    </div>
    <% if @device_type.console_server_port_templates.empty? %>
        <div class="panel-body">None</div>
    <% else %>
        <table class="table table-hover panel-body">
          <tbody>
          <% @device_type.console_server_port_templates.each do |console_server_port| %>
              <tr>
                <td class="col-sm-10"><%= console_server_port.name %></td>
                <td class="col-sm-2">
                  <%= action_buttons(
                        display_delete_if_authorized(
                          hash_for_device_type_console_server_port_template_path(id: console_server_port, device_type_id: @device_type).merge(:auth_object => console_server_port, :authorizer => authorizer),
                          :data => { :confirm => 'Are you sure?'},
                          :action => :destroy
                        )
                      ) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>

  <!-- Power outlets -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to 'Add a power outlet', new_device_type_power_outlet_template_path(@device_type),
                  class: 'btn btn-primary btn-xs pull-right'%>
      <strong>Power Outlets</strong>
    </div>
    <% if @device_type.power_outlet_templates.empty? %>
        <div class="panel-body">None</div>
    <% else %>
        <table class="table table-hover panel-body">
          <tbody>
          <% @device_type.power_outlet_templates.each do |power_outlet| %>
              <tr>
                <td class="col-sm-10"><%= power_outlet.name %> </td>
                <td class="col-sm-2">
                  <%= action_buttons(
                        display_delete_if_authorized(
                          hash_for_device_type_power_outlet_template_path(id: power_outlet, device_type_id: @device_type).merge(:auth_object => power_outlet, :authorizer => authorizer),
                          :data => { :confirm => 'Are you sure?'},
                          :action => :destroy
                        )
                      ) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>
