<% content_for(:title, _("Manufacturers")) %>
<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <%= icon_text("barcode", "", :kind => "fa") %>
  </div>
  <h1><%= _('Manufacturers') %></h1>
  <p><%= _("This page contains all manufacturers (HP, Dell, etc.).") %></p>
  <p><%= link_to _('Learn more about this in the documentation.'), documentation_url("")%></p>
  <div class="blank-slate-pf-main-action">
      <%= new_link(_('Create Manufacturer'), {}, { :class => "btn-lg" }) %>
  </div>
</div>

