<div class="panel panel-default">
  <div class="panel-heading text-center"><h4 class="nonmargintop nonmarginbottom"><strong><%= link_to _("#{rack.name}"), rack_path(rack) %></strong></h4></div>
  <table class="<%= table_css_classes 'table-hover panel-body nonmarginbottom' %>">
    <tbody>
      <% rack.positioned_devices.each do |positions, devices| %>
        <tr>
          <td class="col-md-1"><%= raw(positions.map{|p| "#{p}U"}.join("<br />")) %></td>
          <td class="col-md-4">
            <% unless devices.empty? %>
                <% devices.each do |d| %>
                  <div class="<%= "text-" + ((d.side == "full" or d.side.nil?) ? "center" : "right") + " pull-" + ((d.side == "full" or d.side.nil?) ? "center" : d.side) %>">
                    <div class="<%= "label " + d.device_role.color.downcase.gsub(" ","") %>" style="border-radius:40px;border:0px;">&nbsp;&nbsp;</div>
                    <%= link_to d.name, device_path(d) %>
                    <% if d.side.nil? %>
                      *
                    <% end %>
                    <% if d.size.nil? %>
                      **
                    <% end %>
                  </div>
                <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% unless rack.unpositioned_devices.empty? %>
        <tr>
          <td class="col-md-1">Unpositioned</br>Devices</td>
          <td class="col-md-4" style="text-align:center">
            <% rack.unpositioned_devices.each do |d| %>
              <div class="<%= "label " + d.device_role.color.downcase.gsub(" ","") %>" style="border-radius:40px;border:0px;">&nbsp;&nbsp;</div>
              <%= link_to d.name, device_path(d) %>
              <% if d.side.nil? %>
                *
              <% end %>
              <% if d.size.nil? %>
                **
              <% end %>
              </br>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
